.register{
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-wrapper{
    width: 90%;
    height: 60%;
    display: flex;
    margin-top: 20px;
}

.register-left{
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.register-logo{
    font-size: 50px;
    font-weight: 800;
    color: #175eee;
    margin-bottom: 10px;
}

.register-desc{
    font-size: 24px;
}

.register-box{
    height: 450px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register-input{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.register-input:focus{
    outline: none;
}

.register-button{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #175eee;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.register-forget{
    text-align: center;
    color: #175eee;
}

.register-login-button{
    height: 50px;
    width: 100%;
    align-self: center;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.profile-picture-container, .cover-picture-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.register-container-label{
    display: flex;
    align-items: center;
}

.register-container-text{
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}

.register-container-icon{
    color: #175eee;
    cursor: pointer;
}

.register-container-picture{
    height: 80%;
    width: 90%;
    object-fit: cover;
}

.remove-icon{
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}